/* rgb(246, 137, 51)  */
/* f68933  */
* {
  margin: 0;
  padding: 0;
}

#page-wraper {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgba(243, 154, 21, 0.2);
}
#header {
  background: hsl(0, 0%, 50%);
  box-shadow: 0px 0px 5px hsl(0, 0%, 10%);
  border-radius: 2px;
  width: 100vw;
  height: 10%;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 1rem;
}
