* {
  margin: 0;
  padding: 0;
}
#page-wraper {
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}
#nav-bar {
}
/* inline navbar */
nav ul li {
  display: inline-block;
  text-decoration: none;
}
