/* rgb(246, 137, 51)  */
/* f68933  */
/* * {
  margin: 0;
  padding: 0;
} */
/* ****** GENERAL SETTINGS ******  */
#page-wraper {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgba(243, 154, 21, 0.2);
  height: 500vh;
  min-width: 800px;
}
