/* ****** 2ND SECTION H2 + FORM ******  */
.subscrib {
  margin: 100px 0;
  text-align: center;
}
#email,
#submit {
  border-radius: 2px;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 5px rgb(26, 26, 26);
  margin-right: 20px;
}
/* >>>>> button format + color <<<<<  */
#submit {
  background-color: hsl(0, 0%, 50%);
  color: white;
}
#submit:hover {
  background-color: hsl(0, 0%, 40%);
}
#submit:active {
  background-color: hsl(0, 0%, 30%);
}